.button {
  display: block;
  border: 2px solid #444444;
  background-color: #ffffff;
  color: #444444;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba($color: #ffffff, $alpha: 0.3);
    background-color: #444444;
  }

  &:disabled {
    color:  #ffffff;
    background-color: rgba($color: #444444, $alpha: 0.7);
  }
}
