.button {
  display: block;
  border: 2px solid #444444;
  background-color: #ffffff;
  color: #444444;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  width: 262px;
}
