.feedback {
  @include wrapper;
  font-family: $font;
  padding-bottom: 23px;
  position: relative;
  letter-spacing: normal;
}

.feedback::after {
  @include pseudo;
  height: 8px;
  width: 100%;
  z-index: 55;
  bottom: -7px;
  left: 0;
  background: url("../img/bg-zigzag-line.svg") -3px 0;
  background-repeat: repeat-x;
  background-size: auto 6.5px;
  transform: rotate(180deg);
}

.feedback__title {
  margin-top: 42px;
  margin-bottom: 25px;
}

.feedback__text {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.feedback__name {
  display: block;
  margin-top: 28px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.feedback__tag {
  display: block;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
  font-size: 17px;
}

a.feedback__btn-write {
  padding: 16px;
  text-align: center;
  margin-top: 29px;
  margin-bottom: 20px;
  height: 53px;
  display: block;
  min-width: 260px;
}

.feedback__btn {
  width: 130px;
  height: 52px;
  display: inline-block;
  border: solid 1px #ececec;
  background: white;
  position: relative;
  margin-bottom: 10px;
  font-size: 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.feedback__btn::before {
  @include pseudo;
  background: url("../img/icon-left-arrow.svg");
  top: 13px;
  left: 37px;
  width: 50px;
  height: 26px;
}

.feedback__btn--next::before {
  @include pseudo;
  background: url("../img/icon-right-arrow.svg");
  left: 37px;
}


@include tablet-up {
  .feedback {
    background: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 70px;
    background-size: 350px auto;

    @include retina {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .feedback__title {
    margin-top: 29px;
    padding-top: 77px;
    font-size: 43px;
    margin-left: -5px;
    margin-bottom: 49px;
    position: relative;
  }

  .feedback__text {
    font-size: 17px;
    padding-top: 2px;
    padding-bottom: 20px;
    margin-top: 5px;
    margin-bottom: 38px;
  }

  .feedback__name {
    margin-bottom: 4px;
    font-size: 18px;
  }

  a.feedback__btn-write {
    position: absolute;
    top: 49px;
    right: 50px;
    padding: 15px 40px;
    line-height: 20px;
    text-align: center;
    min-width: 150px;
  }

  button.feedback__btn--prev {
    position: absolute;
    right: 115px;
    bottom: 93px;
    border: none;
  }

  button.feedback__btn--next {
    position: absolute;
    right: 27px;
    bottom: 93px;
    border: none;
  }

  .feedback::after {
    @include pseudo;
    height: 18px;
    width: 100%;
    z-index: 55;
    bottom: -30px;
    left: 0;
    background: url("../img/bg-zigzag-line.svg") -40px 0;
    background-repeat: repeat-x;
    background-size: auto 15.5px;
    // transform: rotate(180deg);
  }
}

@include desktop-up {
  .feedback {
    margin-top: 36px;
    padding-left: 175px;
    width: 1050px;
    padding-bottom: 110px;

    @include retina {
      background-image: url("../img/review@2x.jpg");
    }
  }

  a.feedback__btn-write {
    position: absolute;
    top: 52px;
    right: 0;
    width: 175px;
    padding-left: 38px;
  }

  button.feedback__btn--prev {
    position: absolute;
    right: 63px;
    bottom: 133px;
    border: none;
  }

  button.feedback__btn--next {
    position: absolute;
    right: -24px;
    bottom: 133px;
    border: none;
  }

  .feedback__title {
    font-size: 53px;
    margin-top: 0;
    padding-top: 72px;
    margin-bottom: 47px;
  }

  .feedback__text {
    padding-top: 0;
    font-size: 17px;
    max-width: 770px;
    margin-bottom: 18px;
    margin-right: 10px;
  }

  .feedback__name {
    margin-top: 0;
  }

  .feedback::after {
    @include pseudo;
    height: 25px;
    width: 100%;
    z-index: 55;
    bottom: -46px;
    left: 0;
    background: url("../img/bg-zigzag-line.svg") -55px 0;
    background-repeat: repeat-x;
    background-size: auto 21px;
  }
}
