.footer {
  min-height: 160px;
  background-color: $bg-color;
  // background-color: black;
}

.footer__logo {
  display: none;
}

.footer__wrapper {
  @include wrapper;
  border: 1px solid transparent;
}

.footer__developer-about {
  display: flex;
  align-items: middle;
  color: $color;
  margin-bottom: 15px;
  font-family: $font;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  margin-top: 35px;
  margin-left: 37px;
  min-height: 30px;
  max-width: 190px;

  &:hover > .footer__developer-logo {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__developer-logo {
  margin-top: 4px;
  margin-left: 29px;
  position: relative;
  z-index: 5;
  vertical-align: bottom;
  display: inline-block;
  fill: #62d1ba;
}

.footer__developer-text {
  display: inline-block;
  padding-top: 10px;
}

@include tablet-up {
  .footer {
    min-height: 143px;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .footer__logo {
    display: block;
    margin-top: 49px;
    margin-right: 70px;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }

  .footer__developer-about {
    margin-top: 54px;
    margin-left: 0;
  }
}
