.goods__title {
  font-family: $font;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 0;
}

.title {
  width: 100%;
  padding: 75px 41px;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  background-color: #f1f1f1;
  margin: 0;
}

.goods__list {
  @include wrapper;
  list-style: none;
  font-family: $font;
  // margin-left: 30px;
}

.goods__img {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.goods__wrap {
  padding: 30px 28px;
  min-height: 179px;
  border: 1px solid #ececec;
  background-color: #ffffff;
}

.goods__info {

  color: #444444;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
}

.goods__price {
  display: block;
  margin-top: 55px;
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}
