header {
  border-bottom: 1px solid #ececec;
  min-height: 55px;
}


.header__site-navigation {
  position: relative;

  @include wrapper;
  display: flex;
  min-height: 55px;
  justify-content: space-between;
  z-index: 3;
}

.header__logo {
  margin-top: 22px;
  margin-left: 86px;
  width: 86px;
  height: 35px;
}

.header__promos-list {
  display: none;
}

.header__delivery {
  display: none;
}

.header__site-functions-link--search-icon,
.header__site-functions-link--cart-icon {
  position: absolute;
  top: 30px;
  left: 31px;
}

// popup menu mobile

@media (max-width: $mobile-width-only) {
  .header__site-navigation {
    display: block;
  }

  .header__site-navigation--opened .header__site-navigation-list,
  .header__site-navigation--opened .header__site-functions-list {
    width: 100%;
    display: block;

    @include list-reset;
  }

  .header__site-navigation--opened a {
    font-family: $font;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.41;
    color: black;
    padding-left: 75px;
    padding-top: 26px;
    display: block;
  }

  a.header__delivery {
    display: none;
  }

  .header__site-navigation--opened li {
    width: 320px;
    height: 80px;
    border-bottom: 1px solid #ececec;
    margin-left: -30px;
  }

  .header__site-navigation-item--catalog {
    margin-top: 22px;
    border-top: 1px solid #ececec;
  }

  li.header__site-functions-item--cart {
    border-bottom: solid 1px transparent;
  }

  .header__site-navigation--closed .header__site-navigation-list,
  .header__site-navigation--closed .header__site-functions-list {
    display: none;
  }

  .header__burger-menu-btn {
    position: absolute;
    top: 5px;
    right: 26px;
    z-index: 2;
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  .header__site-navigation--closed .header__burger-menu-btn::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: black;
    box-shadow: 0 6px 0 0 black, 0 12px 0 0 black;
  }

  .header__site-navigation--opened .header__burger-menu-btn::before,
  .header__site-navigation--opened .header__burger-menu-btn::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -3px;
    width: 26px;
    height: 2px;
    background-color: black;
    transform: rotate(45deg);
    box-shadow: none;
  }

  .header__site-navigation--opened .header__burger-menu-btn::after {
    transform: rotate(-45deg);
  }

  .header__site-functions-link {
    position: relative;
  }
}

// end of popup menu mobile

@media (min-width: $tablet-width) {
  .header__logo {
    margin-left: 0;
    width: 113px;
    height: 46px;
    order: 1;
  }

  .header__site-functions-list li {
    border-left: 1px solid #ececec;
  }

  .header__site-functions-link--search {
    display: block;
    min-height: 88px;
    width: 100%;
    position: relative;
  }

  .header__site-functions-link--cart {
    display: block;
    min-height: 88px;
    width: 100%;
    position: relative;
    word-break: break-all;
  }


  header {
    height: auto;
  }

  .header__delivery {
    font-family: $font;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.6;
    color: #444444;
    margin-top: -5px;
    display: block;
    margin-left: 10px;
    order: 6;
  }

  .header__site-navigation {
    flex-wrap: wrap;
    min-height: 157px;
    margin-bottom: -70px;
    align-items: flex-start;
  }

  .header__site-navigation-list {
    display: flex;
    order: 4;

    @include list-reset;
    align-items: stretch;
  }

  .header__site-functions-list {
    display: flex;
    order: 3;

    @include list-reset;
    min-height: 50px;
  }


  .header__burger-menu-btn {
    order: 2;
    display: none;
  }

  .header__site-navigation-list a {
    color: #000000;
    font-family: $font;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
  }

  .header__promos-list {
    order: 5;
  }

  .header__site-functions-item--cart {
    order: 2;
    width: 265px;
  }

  .header__site-functions-item--cart a {
    color: #000000;
    font-family: $font;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    display: block;
    padding-top: 31px;
    padding-left: 82px;
  }

  .header__site-functions-item--search {
    order: 1;
    min-width: 82px;
    font-size: 0;
    margin-left: 136px;
  }

  .header__site-navigation-item--knitting {
    order: 4;
  }

  .header__site-navigation-item--catalog {
    order: 3;
  }

  .site-navigation__link--knitting {
    padding-left: 36px;
    padding-top: 0x;
    display: block;
    margin-top: -6px;
  }

  .site-navigation__link--catalog {
    padding-top: 0;
    display: block;
    margin-top: -6px;
  }


  .header__site-functions-link--search-icon,
  .header__site-functions-link--cart-icon {
    position: absolute;
    top: 37px;
    left: 31px;
  }
}

@media (min-width: $desktop-width) {
  .site-navigation__link--knitting {
    padding-top: 0x;
    display: block;
    margin-top: 0;
    min-height: 92px;
    padding-left: 35px;
  }

  .site-navigation__link--catalog {
    padding-top: 0;
    display: block;
    margin-top: 0;
    min-height: 92px;
  }


  .header__site-navigation-item--knitting {
    border-left: 1px solid #ececec;
    width: 210px;
  }

  .header__logo {
    margin-left: -46px;
    padding-top: 9px;
    order: 2;
  }

  .header__promos-list {
    display: flex;

    @include list-reset;
    font-family: $font;
    font-weight: bold;
    font-size: 15px;
  }

  .header__promos-link {
    color: $color;
    min-width: 159px;
    display: block;
    padding: 18px 0 10px 0;
    padding-top: 0;
  }

  .header__promos-link--sale {
    padding-left: 60px;
  }

  .header__site-navigation-list {
    display: flex;

    @include list-reset;
    align-items: stretch;
    order: 1;
  }

  .header__site-navigation-item--catalog {
    width: 185px;
  }

  .header__site-functions-item--search {
    margin-left: 0;
  }

  .header__site-functions-item--cart {
    order: 2;
  }

  .header__site-functions-item--cart a {
    padding-left: 82px;
    padding-right: 0;
  }

  .logo {
    width: 150px;
    height: 73px;
    margin-top: 0;
  }

  .header__site-navigation-item--knitting a {
    padding-top: 32px;
    font-size: 17px;
    display: block;
    min-width: 150px;
  }

  .header__site-navigation-item--catalog a {
    padding-top: 32px;
    font-size: 17px;
    display: block;
  }
}
