.order__title {
  font-family: $font;
  font-size: 27px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 0;
}

.order__title.title {
  padding-left: 28px;
  padding-right: 28px;
  text-align: center;
}

.order__form-title,
.order__color-title,
.order__name-title,
.order__phone-title,
.order__email-title,
.order__additional-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #63d1bb;
  font-family: $font;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  margin-left: -16px;
}

.order__info {
  @include wrapper;
  display: block;
  font-family: $font;
  color: #444444;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 21px;
  margin-bottom: 20px;
}

.order__form {
  @include wrapper;
}

.order__type,
.order__color,
.order__name,
.order__phone,
.order__email,
.order__additional {
  font-family: $font;
  border: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}

.order__type-radio,
.order__color-checkbox {
  padding-left: 50px;
  display: block;
}

.order__type-radio {
  margin-top: 29px;
  position: relative;
}

.order__color {
  margin-top: 8px;
  padding-top: 25px;
}

.order__form-title,
.order__color-title {
  position: relative;

  &::after {
    @include pseudo;
    height: 1px;
    width: 198px;
    background-color: #63d1bb;
    top: 8px;
    left: 62px;
  }
}


input[type="radio"]+.order__type-radio::before {
  @include pseudo;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 0 2px #444444 inset;
  border-radius: 50%;
  top: -9px;
  left: -13px;
  // opacity: 0.5;
  // &:hover{
  //   box-shadow: 0 0 0 2px #62d1ba inset;
  // }
}

input[type="radio"]:checked+.order__type-radio::before {
  @include pseudo;
  width: 40px;
  height: 40px;
  background: #62d1ba;
  box-shadow:
    0 0 0 2px #444444 inset,
    0 0 0 12px white inset;
  border-radius: 50%;
  top: -9px;
  left: -13px;
}

// styleguide
.order__type-item:hover input[type="radio"]+.order__type-radio::before {
  box-shadow: 0 0 0 2px #62d1ba inset;
}

.order__type-item:hover input[type="radio"]:checked+.order__type-radio::before {
  box-shadow:
    0 0 0 2px #62d1ba inset,
    0 0 0 15px white inset;
}

.order__type-item:active input[type="radio"]+.order__type-radio::before {
  box-shadow: 0 0 0 2px rgba(68, 68, 68, 0.3) inset;
}

.order__type-item:active input[type="radio"]:checked+.order__type-radio::before {
  box-shadow:
    0 0 0 2px rgba(68, 68, 68, 0.3) inset,
    0 0 0 15px white inset;
}

.order__color-checkbox {
  margin-top: 13px;
  margin-bottom: 43px;
  position: relative;
}

input[type="checkbox"]+.order__color-checkbox::before {
  @include pseudo;
  width: 40px;
  height: 39px;
  border: 2px solid #444444;
  top: -12px;
  left: -14px;
}

input[type="checkbox"]:checked+.order__color-checkbox::before {
  @include pseudo;
  background-image: url("../img/icon-tick.svg");
  background-size: 22px 16px;
  background-repeat: no-repeat;
  background-position: 9px 11px;
}

// styleguide

.order__color-item:hover input[type="checkbox"]+.order__color-checkbox::before,
.order__color-item:hover input[type="checkbox"]:checked+.order__color-checkbox::before {
  border: 2px solid #62d1ba;
}

.order__color-item:active input[type="checkbox"]+.order__color-checkbox::before,
.order__color-item:active input[type="checkbox"]:checked+.order__color-checkbox::before {
  border: 2px solid #444444;
  opacity: 0.3;
}

.order__name {
  margin: 0;
  margin-top: -11px;
  padding: 0;
}

.order__name-title {
  position: relative;
  margin-left: 0;

  &::after {
    @include pseudo;
    height: 1px;
    width: 198px;
    background-color: #63d1bb;
    top: 6px;
    left: 62px;
  }
}

.order__name-input {
  display: block;
  margin-left: 0;
  margin-top: 22px;
}

.order__first-name,
.order__last-name,
.order__middle-name {
  display: block;
  // margin-top: 3px;
  border: 0;
  border-bottom: 2px solid #444444;
  // line-height: 40px;
  width: 100%;
  // margin-bottom: 10px;
  padding-bottom: 16px;
  padding-top: 16px;

  &:hover {
    border-bottom: 2px solid #62d1ba;
  }

  &:focus {
    border-bottom: 2px solid #62d1ba;
  }
}

.order__phone {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.order__phone-title {
  margin-left: 0;
  position: relative;
  margin-top: 21px;

  &::after {
    @include pseudo;
    height: 1px;
    width: 198px;
    background-color: #63d1bb;
    top: 6px;
    left: 62px;
  }
}

.order__phone-number {
  display: block;
  margin-top: 10px;
  border: 0;
  border-bottom: 2px solid #444444;
  // line-height: 40px;
  padding-bottom: 15px;
  padding-top: 10px;
  width: 100%;
  margin-bottom: 25px;
  position: relative;
  // &::after{
  //   @include pseudo;
  //   width: 25px;
  //   height: 24px;
  //   bottom: 0;
  //   right: 0;
  //   background-image: url("../img/icon-phone.svg");
  //   background-repeat: no-repeat;
  // }

  &:hover {
    border-bottom: 2px solid #62d1ba;

    &+.order__phone-icon {
      fill: #62d1ba;
      opacity: 1;
    }
  }

  &:focus {
    border-bottom: 2px solid #62d1ba;
    color: #444444;
    opacity: 1;

    &+.order__phone-icon {
      fill: #62d1ba;
      opacity: 1;
    }
  }
}

.order__email {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.order__email-title {
  margin: 0;
  position: relative;

  &::after {
    @include pseudo;
    height: 1px;
    width: 179px;
    background-color: #63d1bb;
    top: 6px;
    left: 80px;
  }
}

.order__email-address {
  display: block;
  margin-top: 4px;
  border: 0;
  border-bottom: 2px solid #444444;
  // line-height: 40px;
  padding-bottom: 15px;
  padding-top: 10px;
  width: 100%;
  margin-bottom: 25px;

  &:hover {
    border-bottom: 2px solid #62d1ba;

    &+.order__email-icon {
      fill: #62d1ba;
      opacity: 1;
    }
  }

  &:focus {
    border-bottom: 2px solid #62d1ba;
    color: #444444;
    opacity: 1;

    &+.order__email-icon {
      fill: #62d1ba;
      opacity: 1;
    }
  }
}

.order__additional {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.order__additional-title {
  margin-left: 0;
}

.order__additional-text {
  margin-top: 22px;
  border: 2px solid #444444;
  width: 100%;
  min-height: 142px;
  padding: 16px;

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &:hover{
    border: 2px solid #62d1ba;
  }

  &:focus{
    border: 2px solid #62d1ba;
  }
}

.order__required {
  font-family: $font;
  font-size: 14px;
  font-weight: 400;
  display: block;
  margin-top: 13px;
  margin-bottom: 13px;
}

.order__button {
  font-family: $font;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 17px 45px;
}

// ДОБАВЛЕНО ДЛЯ АДАПТИВА

.order__type {
  margin: 0;
}

.order__type-list,
.order__color-list {
  @include list-reset;
}

.order__color-list {
  padding-top: 22px;
}

.order__name-flex {
  padding-top: 5px;

  @include list-reset;
}

.order__name-flex input {
  height: 53px;
}

.order__email-flex input {
  height: 53px;
}

.order__phone-flex {
  position: relative;
}

.order__phone-icon {
  position: absolute;
  left: 225px;
  top: 7px;
  opacity: 0.2;
}

.order__email-flex {
  position: relative;
}

.order__email-icon {
  position: absolute;
  left: 222px;
  top: 14px;
  opacity: 0.2;
}

// ПЛАНШЕТ

@include tablet-up {
  .order__title.title {
    font-size: 43px;
    padding-top: 102px;
    padding-bottom: 94px;
    position: relative;

    &::after {
      @include pseudo;
      height: 11px;
      width: 100%;
      z-index: 55;
      bottom: 0;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: auto 22.7px;
      background-position: 0 0;
    }
  }

  .order__info {
    padding: 20px 50px;
    margin-top: 52px;
    font-size: 17px;
    line-height: 30px;
  }

  .order__type-radio {
    margin-top: 20px;
    margin-bottom: 56px;
    padding-left: 52px;
  }

  input[type="radio"]+.order__type-radio::before {
    width: 52px;
    height: 52px;
    top: -12px;
    left: -29px;
  }

  input[type="radio"]:checked+.order__type-radio::before {
    width: 52px;
    height: 52px;
    background: #62d1ba;
    box-shadow:
      0 0 0 2px #444444 inset,
      0 0 0 15px white inset;
    top: -12px;
    left: -29px;
  }

  /*А так можно?*/
  .order__color {
    padding: 0;
    margin-left: -50px;
    margin-right: -50px;
    background-color: #f1f1f1;
    min-height: 304px;
    display: flex;
    margin-top: 0;
  }

  // ФЛЕКСЫ

  .order__form-title,
  .order__color-title {
    padding-top: 20px;
  }

  .order__form-title::after,
  .order__color-title::after,
  .order__name-title::after,
  .order__phone-title::after,
  .order__email-title::after {
    display: none;
  }

  .order__field-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    // padding: 15px;
  }

  .order__type {
    padding: 15px;
    margin: 0;
    // padding-left: 195px;
    font-size: 19px;
    position: relative;
  }

  .order__type-list {
    margin-left: 160px;
  }

  .order__color-list {
    margin-left: 0;
    padding-top: 48px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    // width: 50%;
  }

  .order__color-item {
    width: 255px;
  }

  .order__color-title {
    margin-left: 51px;
    padding-top: 0;
    margin-top: 63px;
  }

  .order__color-checkbox {
    font-size: 19px;
    padding-left: 66px;
    margin-left: 140px;
    margin-bottom: 46px;
  }

  input[type="checkbox"]+.order__color-checkbox::before {
    @include pseudo;
    width: 54px;
    height: 52px;
    border: 2px solid #444444;
    top: -12px;
    left: -14px;
  }

  input[type="checkbox"]:checked+.order__color-checkbox::before {
    @include pseudo;
    background-image: url("../img/icon-tick.svg");
    background-size: 33px 22px;
    background-repeat: no-repeat;
    background-position: 9px 11px;
  }

  .order__name {
    margin-top: 0;
    margin-bottom: 38px;
  }

  .order__name-flex {
    @include list-reset;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 19px;
    padding-top: 40px;
  }

  .order__name-title {
    margin-right: 127px;
    margin-top: 65px;
  }

  .order__name-input {
    display: inline-block;
    margin-right: 18px;
  }

  .order__first-name {
    display: inline-block;
    width: 427px;
    padding-left: 17px;
    margin-bottom: 18px;
  }

  .order__last-name {
    display: inline-block;
    width: 375px;
    padding-left: 17px;
    margin-bottom: 18px;
  }

  .order__middle-name {
    display: inline-block;
    width: 375px;
    padding-left: 17px;
    margin-bottom: 15px;
  }

  .order__phone,
  .order__email {
    background-color: #f1f1f1;
    margin-left: -50px;
    margin-right: -50px;
    margin-top: 0;
    min-height: 106px;
  }

  .order__phone-title {
    margin-left: 52px;
    margin-top: 70px;
  }

  .order__phone-flex {
    margin-left: 134px;
    margin-top: 50px;
    width: 500px;
  }

  .order__phone-number {
    margin-top: 0;
    // line-height: 50px;
    font-size: 19px;
    padding-left: 17px;
    background-color: #f1f1f1;
    margin-bottom: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .order__phone-icon {
    left: 449px;
    top: 10px;
  }

  .order__email-title {
    margin-left: 52px;
    margin-top: 18px;
  }

  .order__email-flex {
    margin-left: 108px;
    margin-top: 0;
    width: 500px;
  }

  .order__email-address {
    margin-top: 0;
    // line-height: 50px;
    font-size: 19px;
    padding-left: 17px;
    background-color: #f1f1f1;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .order__email-icon {
    left: 449px;
    top: 10px;
  }

  .order__additional {
    min-height: 330px;
    margin-top: 0;
  }

  .order__additional-text {
    width: 500px;
    margin-top: 42px;
    margin-left: 128px;
    font-size: 19px;
  }

  .order__additional-flex {
    flex-wrap: wrap;
    vertical-align: top;
  }

  .order__additional-title {
    margin-top: 61px;
  }

  .order__required {
    order: 4;
    font-size: 17px;
    font-weight: 400;
    align-self: center;
    margin-left: 136px;
  }

  .order__button {
    padding: 17px 30px;
    margin-top: 55px;
    margin-bottom: 45px;
  }
}

// ДЕСКТОП
@include desktop-up {
  .order__title.title {
    font-size: 53px;
    padding-top: 109px;
    padding-bottom: 110px;

    &::after {
      bottom: -1px;
      background: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: auto 34px;
      width: 100%;
      height: 15px;
      background-position: -2px 0;
    }
  }

  .order__info {
    margin-top: 105px;
    padding-left: 225px;
    padding-right: 215px;
  }

  .order__form-title {
    margin-left: 50px;
    margin-top: 22px;
  }

  .order__type-list {
    margin-left: 104px;
    margin-top: 19px;
  }

  .order__color {
    min-height: 228px;
  }

  .order__color-title {
    margin-left: 110px;
    margin-top: 65px;
  }

  .order__color-checkbox {
    margin-left: 85px;
    margin-top: 14px;
  }

  .order__color-item {
    width: 264px;
  }

  .order__name-title {
    margin-left: 60px;
    margin-right: 73px;
  }

  .order__first-name {
    width: 626px;
  }

  .order__last-name {
    width: 574px;
  }

  .order__middle-name {
    width: 574px;
  }

  .order__phone-title {
    margin-left: 112px;
  }

  .order__phone-flex {
    margin-left: 80px;
    width: 700px;
  }

  .order__phone-icon {
    left: 668px;
  }

  .order__email-title {
    margin-left: 112px;
  }

  .order__email-flex {
    margin-left: 55px;
    width: 700px;
  }

  .order__email-icon {
    left: 665px;
  }

  .order__additional-title {
    margin-top: 65px;
    margin-left: 62px;
  }

  .order__additional-text {
    margin-left: 72px;
    width: 700px;
  }

  .order__button {
    margin-top: 50px;
    margin-left: 175px;
  }

  .order__required {
    margin-left: 170px;
  }
}
