.socials {
  list-style: none;
}

.socials-list {
  display: flex;

  @include list-reset;
  // margin-left: 56px;
  // margin-top: 26px;
  margin: 16px 28px 26px 28px;
  padding-left: 15px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

// styleguide
.socials-list a:hover{
  fill: #62d1ba;
}

.socials-list a:active{
  fill: #62d1ba;
  opacity: 0.3;
}

.socials-list-button {
  display: block;
  height: 50px;
  width: 50px;
}

.socials-list-button--instagram {
  // width: 42px;
  // height: 41px;
  display: block;
  padding: 14px;
}

.socials-list-button--facebook {
  // width: 35px;
  // height: 48px;
  display: block;
  padding-right: 17px;
  padding-left: 17px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.socials-list-button--twitter {
  // width: 23px;
  // height: 20px;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@include tablet-up {
  .socials-list {
    margin-top: 50px;
    margin-bottom: 35px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    min-width: 166px;
  }
}
