body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// body>* {
//   outline: 1px solid red;
// }

// body>*>* {
//   outline: 1px solid green;
// }

// body>*>*>* {
//   outline: 1px solid blue;
// }

// body>*>*>*>* {
//   outline: 1px solid blueviolet;
// }

// body>*>*>*>*>* {
//   outline: 1px solid yellow;
// }

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
