@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("Open-Sans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("Open Sans Extra-Bold"), url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/openansbold.woff") format("woff");
  font-style: bold;
  font-weight: 700;
}
