@mixin wrapper {
  width: 320px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) {
    min-width: auto;
    width: 1150px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}


@mixin retina {
  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin mobile-only {
  @media (max-width: $mobile-width-only) {
    @content;
  }
}

// @mixin responsive($media) {
//   @if $media==tablets {
//     @media (min-width: $tablet-width) {
//       @content;
//     }
//   }

//   @else if $media==desktop {
//     @media (max-width: $desktop-width) {
//       @content;
//     }
//   }
// }
